<div class="max-w-7xl mx-auto px-4 py-8">
  <!-- Daily Stats -->
  <div class="mb-12">
    <h2 class="text-3xl text-gray-800 font-semibold mb-4">Daily Stats</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- Revenue -->
      <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 p-6 rounded-lg text-white">
        <div class="font-bold text-lg mb-2">Revenue</div>
        <p class="text-xl">$<%= @quick_stats[:revenue] ? (@quick_stats[:revenue]/100.0).to_s : "0" %></p>
      </div>
      <!-- Total Sales -->
      <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 p-6 rounded-lg text-white">
        <div class="font-bold text-lg mb-2">Total Sales</div>
        <p class="text-xl"><%= @quick_stats[:sales] ? @quick_stats[:sales].to_s : "0" %></p>
      </div>
      <!-- Average Sale -->
      <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 p-6 rounded-lg text-white">
        <div class="font-bold text-lg mb-2">Average Sale</div>
        <p class="text-xl">$<%= @quick_stats[:avg_sale] ? (@quick_stats[:avg_sale]/100.0).to_s : "0" %></p>
      </div>
      <!-- Items/Sale -->
      <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 p-6 rounded-lg text-white">
        <div class="font-bold text-lg mb-2">Items/Sale</div>
        <p class="text-xl"><%= @quick_stats[:per_sale].to_i %></p>
      </div>
    </div>
  </div>

  <!-- Revenue Chart -->
  <div class="mb-12">
    <h2 class="text-3xl text-gray-800 font-semibold mb-4">Revenue</h2>
    <div data-controller="dashboard" data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
      <canvas id="revenueChart"></canvas>
    </div>
  </div>

  <!-- Recent Unfulfilled Orders -->
  <div>
    <h2 class="text-3xl text-gray-800 font-semibold mb-4">Recent Unfulfilled Orders</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white rounded-lg shadow-md overflow-hidden">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-medium text-gray-500 uppercase">Order ID</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-medium text-gray-500 uppercase">Customer</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-medium text-gray-500 uppercase">Date</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-medium text-gray-500 uppercase">Total Amount</th>
          </tr>
        </thead>
        <tbody class="text-gray-600">
          <% @orders.each do |order| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300"><%= link_to order.id, admin_order_path(order), class: "text-indigo-500 hover:underline" %></td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300"><%= order.customer_email %></td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300"><%= order.created_at.strftime("%B %d, %Y %H:%M") %></td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">$<%= (order.total/100.00).to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
