<div id="<%= dom_id product %>">
  <div class="flex flex-row justify-between">
    <div>
      <p class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= product.name %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <%= product.description %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Price:</strong>
        <%= product.price %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Catagory:</strong>
        <%= product.catagory_id %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Active:</strong>
        <%= product.active %>
      </p>
    </div>

    <% if product.images.any? %>
      <div class="flex flex-col">
        <% product.images.each do |image| %>
          <%= image_tag image, class: "self-center justify-self-start w-60" %>
          <%= button_to "Delete Image", admin_product_image_path(product, image), method: :delete, data: { confirm: "Are you sure you want to delete this image?" }, class: "rounded-lg py-3 px-5 bg-red-500 inline-block font-medium mt-2" %>
        <% end %>
      </div>
    <% end %>   
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this product", [:admin, product], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this product", edit_admin_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
